.chat-form {
    width: 100%;
    display: flex;
}
.message-input {
    flex: 4;
    width:80%;
    height: 100%;
    background-color: #899AAA;
    border: none;
    margin: 2% 0 5% 5%;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    font-size: 0.8em;
}

.send-button {
    flex:1;
    width: 20%;
    height: 100%;
    background-color: #163446;
    border: none;
    border-radius: 0 10px 10px 0;
    margin: 2% 5% 5% 0;
    padding: 15px;
    font-size: 0.8em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-icon {
    margin-right: 10px;
}

@media (max-width: 500px) {
    .message-input, .send-button {
        font-size: 0.75em;
    }
}