.join-container {
  max-width: 400px;
  margin: auto;
  color: white;
  margin-top: 50px;
  font-family: "Roboto";
  font-size: 24px;
}

.form-header {
  width: 100%;
  background-color: hsla(203, 52%, 18%, 0.5);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 40px;
  height: auto;
  margin: 15px 15px 15px 25px;
}

p {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.form-container {
  width: 100%;
  background-color: hsla(201, 52%, 40%, 0.3);
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 0 0 10px 10px;
  border-top: 0px;
}

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-form label {
  margin: 25px 5px 10px 5px;
}

.join-form input {
  display: inline-block;
  flex: 1;
  width: 80%;
  background-color: #c6cdd4;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  padding: 10px;
}

.join-form button {
  border: none;
  background-color: hsla(203, 52%, 18%, 0.9);
  border-radius: 2px;
  color: white;
  margin: 45px;
  padding: 25px 65px;
  font-size: 24px;
}

.join-form button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 500px) {
  .join-container {
    width: 300px;
    font-size: 18px;
  }

  .form-header {
    width: 300px;
  }

  .join-form input {
    width: 200px;
  }

  .join-form button {
      font-size: 16px;
  }
}
